@font-face {
  font-family: 'a0810';
  src: url('#{$font-path}/a0810/a0810.woff2') format('woff2'),
  url('#{$font-path}/a0810/a0810.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

